:root{
    --primaryColor:  rgb(40, 120, 132);
    --secondaryColor: rgb(16, 95, 134);
    --lightColor: rgb(255, 255, 255);
    --padding: 8%;
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(56, 161, 174);
    
}
html{
    font-size: medium;
    background-color: rgb(255, 255, 255);
}


ul{
    display:flex;
    justify-content: center;
    background-color: rgb(129, 193, 207);
    color:rgb(41, 159, 161);
}

li{
    padding:10px;
    list-style: none;
}

a{
    text-decoration:none ;
    color:rgb(13, 59, 73);
}
span{
    color: rgb(8, 59, 24);
}
h4{
    color: rgb(0, 86, 110);
}
h2{ letter-spacing: 0.10rem;
    cursor: pointer;
    
}
nav{
    
    padding-top: 2.2rem;
}
